/* @import url("https://glow-css.netlify.app/component.css"); */

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.link-hover{
    cursor: pointer;
    margin-bottom: 10px;
}
.pointer:hover{
    cursor: pointer;
}

.tooltip .tooltip-text .link{
    color: var(--TEXT-COLOR);
}